Repository AdoreIt/LockerApp, pull requests merged in 2019-05, with the labels that each got.

#13 i4 : Initialize services directory
  services/locker_service.py
  services/user_service.py
Labels: Locker service, User sevice

#17 i #1: Added ui folder with index.html and events.js empty files.
  ui/events.js
  ui/index.html
Labels: UI

#19 Issue 3 and Issue 11
  dbs/drop_psql_db.sh
  dbs/init_psql_db.sh
  dbs/migrations_psql/create_users_db.sql
  dbs/migrations_psql/create_users_table.sql
  dbs/migrations_psql/drop_users_db.sql
  dbs/mongodb.py
  dbs/postgresql.py
Labels: DB

#21 Add MongoDB databases creation and update README.md
  README.md
  dbs/create_mongo_db.sh
  dbs/create_psql_db.sh
  dbs/drop_mongo_db.sh
  dbs/migrations_mongo/create_lockers_db.js
  dbs/migrations_mongo/drop_lockers_db.js
Labels: DB, Documentation

#24 i #15 Create User and UserService classes
  lalla
  services/user_service.py
Labels: User sevice

#25 i #16: Create Locker and LockerService classes
  services/locker_service.py
Labels: Locker service

#31 i #30: Restructure project
  README.md
  doc/architecture_diagram.png
  lalla
  locker_service/locker_service.py
  locker_service/mongo_db/create_mongo_db.sh
  locker_service/mongo_db/drop_mongo_db.sh
  locker_service/mongo_db/migrations_mongo/create_lockers_db.js
  locker_service/mongo_db/migrations_mongo/drop_lockers_db.js
  locker_service/mongo_db/mongodb.py
  ui/events.js
  ui/index.html
  user_service/psql_db/create_psql_db.sh
  user_service/psql_db/drop_psql_db.sh
  user_service/psql_db/migrations_psql/create_users_db.sql
  user_service/psql_db/migrations_psql/create_users_table.sql
  user_service/psql_db/migrations_psql/drop_users_db.sql
  user_service/psql_db/postgresql.py
  user_service/user_service.py
Labels: Managerial

#35 i #34: Implement base version of LockerApp
  locker_app/app.py
  locker_app/templates/home.html
  locker_app/templates/layout.html
  locker_app/templates/lockers.html
  locker_app/templates/users.html
Labels: LockerApp, UI

#37 i #33: Connect UserService to LockerApp
  locker_app/app.py
  locker_app/templates/users.html
  user_service/user_service.py
Labels: LockerApp, Rest API, User sevice

#38 i #32: Connect LockerService to LockerApp
  locker_app/app.py
  locker_app/templates/lockers.html
  locker_service/locker_service.py
  user_service/user_service.py
Labels: Locker service, LockerApp, Rest API

#42 i #40: Transfer dictionary from LockerService
  locker_app/app.py
  locker_service/locker_service.py
Labels: Locker service, LockerApp, Rest API

#43 i #41: Transfer dictionary from UserService
  locker_app/app.py
  user_service/user_service.py
Labels: LockerApp, Rest API, User sevice

#45 I3 initialize dbs dir
  README.md
  locker_service/mongo_db/migrations_mongo/create_lockers_db.js
Labels: DB

#46 i #44 implement behavior for pressing check button
  locker_app/app.py
  locker_app/templates/check.html
  locker_app/templates/home.html
  locker_app/templates/lockers.html
  locker_app/templates/users.html
  locker_service/locker_service.py
  user_service/user_service.py
Labels: Locker service, LockerApp, Rest API, UI, User sevice

#48 i #28 #27: Configure RabbitMQ to receive from UserService
  locker_service/rabbitmq_receive_from_user_service.py
Labels: Locker service, LockerApp, Rabbit, User sevice

#47 i #27 #28: Configure rabbitmq publish to LockerService
  user_service/user_service.py
Labels: Rabbit, User sevice

#51 i #50 Add config functionality
  config/__init__.py
  config/__pycache__/config.cpython-36.pyc
  config/config.json
  config/config.py
  locker_app/app.py
  locker_service/locker_service.py
  user_service/user_service.py
Labels: Locker service, LockerApp, Rest API, User sevice

#52 I26 edit read me installs launch
  README.md
Labels: Documentation

#54 I53 send locker id to user service via rest api
  config/config.py
  locker_app/app.py
  locker_app/templates/check.html
  locker_service/locker_service.py
  locker_service/rabbitmq_receive_from_user_service.py
  user_service/user_service.py
Labels: Locker service, LockerApp, Rabbit, Rest API, UI, User sevice

#60 I 22 23 29
  README.md
  config/config.json
  locker_app/app.py
  locker_service/locker_service.py
  locker_service/mongo_db/create_mongo_db.sh
  locker_service/mongo_db/drop_mongo_db.sh
  locker_service/mongo_db/migrations/create_lockers_db.py
  locker_service/mongo_db/migrations/drop_lockers_db.py
  locker_service/mongo_db/migrations_mongo/create_lockers_db.js
  locker_service/mongo_db/migrations_mongo/drop_lockers_db.js
  locker_service/mongo_db/mongodb.py
  locker_service/rabbitmq_receive_from_user_service.py
  user_service/psql_db/create_psql_db.sh
  user_service/psql_db/create_user.sql
  user_service/psql_db/create_users_db.sql
  user_service/psql_db/create_users_table.sql
  user_service/psql_db/drop_psql_db.sh
  user_service/psql_db/drop_users_db.sql
  user_service/psql_db/migrations_psql/create_users_db.sql
  user_service/psql_db/migrations_psql/drop_users_db.sql
  user_service/psql_db/postgresql.py
  user_service/user_service.py
Labels: DB, Documentation, Locker service, LockerApp, Rest API, UI, User sevice, bug
